#copyButton, #helpMessage {
    -fx-text-fill: #1A2A3A;
}
 
#copyButton {
    -fx-background-color: rgba(198, 226, 255, 0.2);
    -fx-text-fill: white;
}
 
#copyButton:hover {
    -fx-background-color: #3A7BD5;
}
 
#copyButton:armed {
    -fx-background-color:  #0A3A82;
}
 
#helpMessage {
    -fx-background-color: transparent;
    background-color: white;
}
 
#helpScrollPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
 
#helpScrollPane .viewport {
    -fx-background-color: transparent;
}
 
#helpScrollPane .content {
    -fx-background-color: transparent;
}
 